/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
  Media Queries

  0 - 600px - Phone
  600 - 900px - Tablet Potrait
  900 - 1200px - Tablet Landscape
  [1200 - 1800] - Normal styles would apply here
  1800px + - big desktop
*/
/*
  breakpoint arguments
  - phone
  - tab-port
  - tab-land
  - big-desktop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  height: 100vh;
  width: 100%;
  background-color: #BCB9B2; }

.main-container {
  height: 100vh;
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: 12rem 1fr 12rem;
  grid-template-rows: auto 1fr auto;
  border: 1rem solid #E9E8E4; }
  @media (max-width: 56.25em) {
    .main-container {
      grid-template-areas: "header" "main" "footer";
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      /* Footer */ } }
  .main-container header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem; }
    @media (max-width: 56.25em) {
      .main-container header {
        padding: 3rem; } }
    .main-container header .logo {
      width: 5rem;
      height: 5rem;
      cursor: pointer; }
  .main-container main {
    grid-area: main;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .main-container main .intro-text {
      padding: 0 0 15rem 40rem;
      backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-backface-visibility: hidden; }
      .main-container main .intro-text h1 {
        animation: moveInLeft 2s ease-out;
        -moz-animation: moveInLeft 2s ease-out;
        -o-animation: moveInLeft 2s ease-out;
        -webkit-animation: moveInLeft 2s ease-out; }
        .main-container main .intro-text h1 span {
          display: block; }
      .main-container main .intro-text p {
        animation: moveInRight 2s ease-out;
        -moz-animation: moveInRight 2s ease-out;
        -o-animation: moveInRight 2s ease-out;
        -webkit-animation: moveInRight 2s ease-out; }
      @media (max-width: 75em) {
        .main-container main .intro-text {
          padding: 3rem; } }
  .main-container footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 8rem; }
    .main-container footer .contact {
      text-decoration: none;
      background-color: #116530;
      color: #FEF9F8;
      padding: 0.3rem;
      border: 0.2rem solid #115238; }
      .main-container footer .contact:hover {
        background-color: transparent;
        color: #116530; }
    @media (max-width: 75em) {
      .main-container footer {
        padding: 2rem;
        flex-direction: column; }
        .main-container footer a {
          margin: 0.3rem; } }

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

h1 {
  font-size: 6rem;
  font-weight: 700;
  color: #444444;
  line-height: 1; }
  @media (max-width: 37.5em) {
    h1 {
      font-size: 4rem; } }

p {
  font-size: 2rem;
  color: #004369;
  font-weight: 400; }

a {
  font-size: 2rem;
  font-weight: 600;
  color: #212223;
  cursor: pointer;
  margin: 1.5rem; }
