html {
    background: #505D6E url(../images/body.jpg) no-repeat center center fixed;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
    min-height: 100%;
    line-height: 1.5em;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    color: rgba(255, 255, 255, .8);
    font-weight: normal;
}


/* navigation bar */

.mainmenu {
    z-index: 999999;
    width: 100%;
    padding: 30px 0 0 0;
}

@media (min-width: 768px) {
    .mainmenu {
        position: fixed;
    }
}

.navbar-toggle {
    position: relative;
    float: left;
    display: block;
    padding: 9px 10px;
    background: rgba(255, 255, 255, 0.2);
    background-image: none;
    border: 0 none;
    top: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: 0;
    opacity: 1;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
    float: left;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    background: #fff;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.open .navbar-toggle {
    top: -70px;
    opacity: 0;
}

.mainmenu .dropdown-menu {
    top: -14em;
    left: 0px;
    font-size: 13px;
    padding: 0;
    background: none;
    border: 0 none;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    opacity: 0;
    -webkit-transition: all .45s;
    -moz-transition: all .45s;
    transition: all .45s;
}

.mainmenu .dropdown-menu .active {
    font-weight: bold;
}

.mainmenu .open .dropdown-menu {
    top: 2px;
    opacity: 1;
}

.mainmenu .dropdown-menu a {
    padding: 10px 10px;
    margin: 0;
    color: white;
    text-decoration: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.mainmenu .dropdown-menu a:hover {
    background: rgba(255, 255, 255, .1);
    color: white;
    padding: 10px 8px 10px 12px;
}


/* all section */

.section {
    z-index: 1;
    min-height: 420px;
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    display: none;
    top: 0;
}

@media (min-width: 768px) {
    .section {
        padding-top: 160px;
    }
}

#head {
    display: block;
}


/* Typography */

a {
    color: #fff;
    text-decoration: none;
}

a:hover,
a:active {
    color: #fff;
    text-decoration: underline;
}

.lead {
    font-weight: normal;
    font-size: 1.5em;
    line-height: 1.2em;
}

.title { 
	font-family: 'Wire One', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:3em;
	margin-bottom:15px; 
	color:#FDF9F4; 
	line-height:1em;
}

.tagline {
    font-size: 2.0em;
    line-height: 1.3em;
    font-weight: normal;
    margin-top: 100px;
}

@media (max-width: 767px) {
    .lead {
        font-size: 1.3em;
    }
}

/*bio button*/

.btn:hover {
	color:#000;
}

.btn-lg { 
	font-size:inherit;
    margin-top: 40px;
    padding:16px 30px;
    color:#000;
	text-shadow: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0 none;
    text-transform: uppercase;
}

/* sections */

.section { 
	z-index: 1;
	min-height:420px;
	width: 100%; 
	overflow:auto;
	height:100%;
	padding-top:100px;
	padding-bottom:50px; 
	display:none;
	top:0;
} 
@media (min-width: 768px) {
	.section { padding-top:160px;}
}

/* Show one of sections */
#head { 
	display: block;
}

a:hover {
    text-decoration: none;
}

.green a {
    color: greenyellow;
}

 .green a:hover{
    text-decoration: none;
    text-transform: uppercase;
}


/*buttons*/


.btn-link {
	color:rgba(255,255,255,.8);
}


.btn-link:hover, .btn-link:focus, .btn-link:active {
	color:#fff;
    text-decoration: none;
}

.btn-default {
	background: rgba(255,255,255,.5);
}


.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
	background: rgba(255,255,255,.8);
}


/*thumbnails*/

.thumbnail {
	background-color: rgba(255,255,255,.2);
	border: 0 none;
	padding:10px;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
}
.thumbnail .caption {
	color: inherit;
}