$bg-color: #BCB9B2;
$border-color: #E9E8E4;
$main-text-color: #444444;
$sub-text-color: #004369;
$highlight-color: #458478;
$highlight-text-color: #FEF9F8;
$highlight-border-color: #115238;
$logo-border-color: #0A0708;
$logo-text-color: #0A0708;
$logo-bg-color: #9BCAB1;
$link-color: #212223;
